{% extends 'base_dashboard.html.twig' %}

{% block gestion_medecin %}
    <div class="content">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">table_chart</i>
                    </div>
                    <h4 class="card-title">Medecin <a href="{{ path('ajouterMedecin') }}"><button type="button" class="btn btn-info btn-round" style="margin-left: 35px;">Ajouter Un Medecin <i class="material-icons">keyboard_arrow_right</i></button></a></h4>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive table-sales">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">N°CIN</th>
                                        <th class="text-center">Nom Medecin</th>
                                        <th class="text-center">Prénom</th>
                                        <th class="text-center">Telephone</th>
                                        <th class="text-center">Spécialité</th>
                                        <th class="text-center">Actions</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for medecin in medecin %}
                                        <tr>
                                            <td class="text-center">{{medecin.id}}</td>
                                            <td class="text-center" >{{medecin.nCIN}}</td>
                                            <td class="text-center">{{medecin.nonMedecin}}</td>
                                            <td class="text-center">{{medecin.prenomMedecin}}</td>
                                            <td class="text-center">{{medecin.telephone}}</td>
                                            <td class="text-center">{{medecin.Specialite.nomSpecialite}}</td>

                                            <td class="td-actions text-center">
                                                <a  href="{{path('supprimerMedecin',{'id':medecin.id})}}" class="btn btn-blue btn-round"   >
                                                    Supprimer
                                                    <div class="ripple-container"></div></a>
                                                <a  href="{{path('modifierMedecin',{'id':medecin.id})}}" class="btn btn-blue btn-round"   >
                                                   modifier
                                                    <div class="ripple-container"></div></a>







                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}