{% extends 'base.html.twig' %}

{% block banner %}

    <!doctype html>
    <html lang="en">

<body>
<div class="new-style page-header header-filter" data-parallax="true" style="background-image: url( {{ asset ('assets/myimg/4.jpg')}}) ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand text-center">
                    <h3 class="title text-center">Make a diffrence </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand text-center">
    <h3 class="title text-center">tables medecins</h3>
</div>
    <div class="content">
        <div class="col-md-12">
            <div class="card ">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive table-sales">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th class="text-center">N°CIN</th>
                                        <th class="text-center">Nom Medecin</th>
                                        <th class="text-center">Prénom</th>
                                        <th class="text-center">Telephone</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Spécialité</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for medecin in medecin %}
                                        <tr>
                                            <td class="text-center" >{{medecin.nCIN}}</td>
                                            <td class="text-center">{{medecin.nonMedecin}}</td>
                                            <td class="text-center">{{medecin.prenomMedecin}}</td>
                                            <td class="text-center">{{medecin.telephone}}</td>
                                            <td class="text-center">{{medecin.email}}</td>
                                            <td class="text-center">{{medecin.Specialite.nomSpecialite}}</td>


                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}